/* style.css */

/* For the information details panel */
.render-topic-details-outer-container {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fb;
  padding: 10px;
  border-radius: 8px;
  gap: 15px;
}
